[Interface]
Address = {{ wireguard_address }}
ListenPort = 51280
PrivateKey = {{ private_key.stdout }}

{% for peer in groups.peers %}
[Peer]
PublicKey = {{ hostvars[peer].public_key }}
AllowedIPs = {{ hostvars[peer].allowed_ips }}
Endpoint = {{ hostvars[peer].endpoint }}

{% endfor %}